GEMINI_API_KEY=your_api_key
client_email=client_email
project_id=project_id
private_key_id=private_key_id
private_key=private_key
client_id=client_id
type=type

PROJECT_ID=PROJECT_ID
LOCATION_ID=LOCATION_ID
API_ENDPOINT=API_ENDPOINT
MODEL_ID=MODEL_ID